<div class="container">

  <div class="container-image">
    <img src="../../../assets/77b659d5-c893-4012-bd71-443c147d7003.jpg" alt="">
  </div>

  <div class="container-text">
    <h2>Promoção DIA DO GAMER</h2>
    <button>Economize Já!</button>
  </div>

<div class="card-promo__container">
  <app-card
  gameType="PS4 | XBOX"
  gamePrice="R$ 80,00"
  gameLabel="Digital"
  cardImage="../../../assets/covers/HD-wallpaper-fifa-16-cover-ea-ea-sports-fifa-16-football-game-messi.jpg"/>
  <app-card
  gameType="PC | PS4 | XBOX"
  gamePrice="R$ 55,00"
  gameLabel="Exclusivo"
  cardImage="../../../assets/covers/HD-wallpaper-streetfighterv-cover-game-ryu-sf-street-fighter-streetfighter.jpg"/>
  <app-card
  gameType="PC | PS4 | XBOX"
  gamePrice="R$ 200,00" 
  gameLabel="Digital"
  cardImage="../../../assets/covers/HD-wallpaper-gta-3-cover-grand-theft-auto-gta-3-gta-cover-art-gta-europe-gta-rockstar-games.jpg"/>
  <app-card
  gameType="PC | PS4 | XBOX"
  gamePrice="R$ 55,00"
  gameLabel="Digital"
  cardImage="../../../assets/covers/HD-wallpaper-i-am-alive-cover-game-pc-ps.jpg"/>
  <app-card
  gameType="PC | PS4 | XBOX"
  gamePrice="R$ 25,00"
  gameLabel="Digital"
  cardImage="../../../assets/covers/HD-wallpaper-terraria-cover-game.jpg"/>
  <app-card 
  gameType="PC | PS4 | XBOX"
  gamePrice="R$ 85,00"
  gameLabel="Digital"
  cardImage="../../../assets/covers/HD-wallpaper-disco-elysium-cover-art-game-logo-video-games.jpg"/>
</div>
</div>

<div class="text-more">
  <a href="">mostrar mais</a>
</div>