.container{
  position: relative;
  border: 1px solid #3E4357;
  border-radius: 10px;
  width: 290px;
  height: 400px;
  display: flex;
  overflow: hidden;
  margin-top: 10px;
}

.container img{
  min-width: 100%;
  min-height: 100%;
  transition: transform .8s;
}

.container img:hover{
 transform: scale(1.1);
}