
<div class="container">

  <h2>{{Title}}</h2>

  <div class="content">
  <app-card-games 
  cardTitle="{{cardPost1}}"
  cardImage="{{cardImage1}}"/>

  <app-card-games 
  cardTitle="{{cardPost2}}"
  cardImage="{{cardImage2}}"/>

  <app-card-games 
  cardTitle="{{cardPost3}}"
  cardImage="{{cardImage3}}"/>

  <app-card-games 
  cardTitle="{{cardPost4}}"
  cardImage="{{cardImage4}}"/>

  <app-card-games 
  cardTitle="{{cardPost5}}"
  cardImage="{{cardImage5}}"/>

  <app-card-games 
  cardTitle="{{cardPost6}}"
  cardImage="{{cardImage6}}"/>

</div>

</div>