<div class="container">
  <app-header-promo class="header-dois"/>

  <div class="posts">
  <app-game-labels 
  cardPost1="Minecraft"
  cardPost2="Battlefield 1"
  cardPost3="Battlefield 3"
  cardPost4="PUBG"
  cardPost5="Terraria"
  cardPost6="I am alive"
  cardImage1="../../../assets/img/2f2f77db59300fc7f48c6ad650790192.jpg"
  cardImage2="../../../assets/img/Battlefield_1_capa.png"
  cardImage3="../../../assets/img/big-poster-gamer-battlefield-3-lo003-tamanho-90x60-cm-battlefield.jpg"
  cardImage4="../../../assets/img/pubg-battlegrounds_ejac.jpg"
  cardImage5="../../../assets/covers/HD-wallpaper-terraria-cover-game.jpg"
  cardImage6="../../../assets/covers/HD-wallpaper-i-am-alive-cover-game-pc-ps.jpg"
  Title="10 melhores jogos no seu país"/>

  <app-game-labels 
  cardPost1="Minecraft"
  cardPost2="Battlefield 1"
  cardPost3="Battlefield 3"
  cardPost4="PUBG"
  cardPost5="Terraria"
  cardPost6="I am alive"
  cardImage1="../../../assets/img/2f2f77db59300fc7f48c6ad650790192.jpg"
  cardImage2="../../../assets/img/Battlefield_1_capa.png"
  cardImage3="../../../assets/img/big-poster-gamer-battlefield-3-lo003-tamanho-90x60-cm-battlefield.jpg"
  cardImage4="../../../assets/img/pubg-battlegrounds_ejac.jpg"
  cardImage5="../../../assets/covers/HD-wallpaper-terraria-cover-game.jpg"
  cardImage6="../../../assets/covers/HD-wallpaper-i-am-alive-cover-game-pc-ps.jpg"
  Title="Novos jogos"/>

  <app-game-labels 
  cardPost1="Minecraft"
  cardPost2="Battlefield 1"
  cardPost3="Battlefield 3"
  cardPost4="PUBG"
  cardPost5="Terraria"
  cardPost6="I am alive"
  cardImage1="../../../assets/img/2f2f77db59300fc7f48c6ad650790192.jpg"
  cardImage2="../../../assets/img/Battlefield_1_capa.png"
  cardImage3="../../../assets/img/big-poster-gamer-battlefield-3-lo003-tamanho-90x60-cm-battlefield.jpg"
  cardImage4="../../../assets/img/pubg-battlegrounds_ejac.jpg"
  cardImage5="../../../assets/covers/HD-wallpaper-terraria-cover-game.jpg"
  cardImage6="../../../assets/covers/HD-wallpaper-i-am-alive-cover-game-pc-ps.jpg"
  Title="Pré-venda"/>

  <app-game-labels 
  cardPost1="Minecraft"
  cardPost2="Battlefield 1"
  cardPost3="Battlefield 3"
  cardPost4="PUBG"
  cardPost5="Terraria"
  cardPost6="I am alive"
  cardImage1="../../../assets/img/2f2f77db59300fc7f48c6ad650790192.jpg"
  cardImage2="../../../assets/img/Battlefield_1_capa.png"
  cardImage3="../../../assets/img/big-poster-gamer-battlefield-3-lo003-tamanho-90x60-cm-battlefield.jpg"
  cardImage4="../../../assets/img/pubg-battlegrounds_ejac.jpg"
  cardImage5="../../../assets/covers/HD-wallpaper-terraria-cover-game.jpg"
  cardImage6="../../../assets/covers/HD-wallpaper-i-am-alive-cover-game-pc-ps.jpg"
  Title="Demonstrações"/>
</div>
</div>

<app-footer/>